<%inherit file="/base.html"/>

<!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
<!-- Bootstrap css -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
      rel="stylesheet">
<!-- kendo ui css -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
      rel="stylesheet">
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
      rel="stylesheet">
<!-- font-awesome -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
<!--蓝鲸提供的公用样式库 -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
<!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
<!-- 数据埋点统计 -->
<script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
<!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
<!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->


<%block name="content">
<div class="king-page-box">
    <div class="king-container clearfix">
        <div class="form-group clearfix ">
            <label class="col-sm-3 control-label bk-lh30 pt0">请选择业务：</label>
            <div class="col-sm-9">
                <select name="" id="select_app" class="form-control bk-valign-top">
                </select>
            </div>
        </div>
        <div class="form-group has-feedback clearfix ">
            <label class="control-label col-sm-3 pt0" for="introduction">请输入主机IP：</label>
            <div class="col-sm-9">
                <textarea id="ip_list_filter" class="form-control" rows="4" placeholder="提示信息"></textarea>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="button" id="btn_search" class="king-btn mr10  king-success">查询</button>
            </div>
        </div>

        <div id="chars_container">

        </div>

        <!-- 设置面板End -->

        <template id="chart_tmp">
            <div>IP:#ip#</div>
            <div style="float: left;margin-left: 20px;" class="king-page-box">
                <div class="king-container clearfix">
                    <div style="height: 400px; position: relative;width:900px;" id="#id#"
                         class="king-chart-box chart-line  k-chart" data-role="chart"></div>
                </div>
            </div>
        </template>

    </div>
</div>
<script>
    $(function () {

        function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function () {
                var val = cfg[arguments[2]] + '';
                if (typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        // 创建图表
        function createKendoLineChart(conf) {
            $(conf.selector).kendoChart({
                transitions: false,
                legend: {
                    position: "bottom"
                },
                colors: ['yellow'],
                theme: 'bootstrap',
                seriesDefaults: {
                    type: 'line',
                    style: "smooth",
                    markers: {
                        visible: false
                    }
                },
                series: conf.data.series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: conf.data.categories,
                    labels: {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= category # #= value #"
                }
            });
            //重新绘制
            $(window).on('resize', function () {
                var chart = $(conf.selector).data("kendoChart");
                chart.redraw();
            });
        }

        function initKendoLineChart(conf) {
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function (res) {
                    //获取数据成功
                    if (res.result) {
                        var data = {
                            series: res.data.series,
                            categories: res.data.categories
                        };
                        createKendoLineChart({
                            selector: conf.container, // 图表容器
                            data: data // 图表数据
                        });
                    }
                }
            });
        }


        $("#btn_search").click(function () {
            var app_id = $("#select_app").find("option:selected").val();
            var ip_list_f = $("#ip_list_filter").val();
            var html = $("#chart_tmp").html();
            $.post("${SITE_URL}api/search_m_host/?business_id=" + app_id, ip_list_f, function (res) {
                if (res.result) {
                    $("#chars_container").empty();

                    if(res.data.length == 0){
                        $("#chars_container").text("无查询结果！");
                        return
                    }


                    res.data.forEach(function (item) {
                        var n_html = renderTpl(html, {id: item.id, ip: item.ip})
                        $("#chars_container").append(n_html);
                        initKendoLineChart({
                            url: '${SITE_URL}api/get_monitor_data/?business_id=' + item.biz_id + '&ip=' + item.ip,
                            dataType: 'json',
                            container: '#' + item.id
                        });
                    })
                } else {
                    alert(res.message);
                }
            })

        })

        var search_business = function () {
            $.get("${SITE_URL}api/search_business/", function (res) {
                if (res.result) {
                    res.data.info.forEach(function (item) {
                        $("#select_app").append('<option value="' + item.bk_biz_id + '">' + item.bk_biz_name + '</option>')
                    })
                } else {
                    alert(res.message);
                }
            })
        }

        search_business();


    });
</script>
</%block>

